<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784079162480-90map4i9b5v6ccueoj8qp9ggfpsqtnok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784079162480-90map4i9b5v6ccueoj8qp9ggfpsqtnok</string>
	<key>API_KEY</key>
	<string>AIzaSyA4xXvYsRKQ5uTvT_qwigcU6qEazZ4gp9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>784079162480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messenger-9b324</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-9b324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784079162480:ios:d5b69b2159d698a08538b5</string>
</dict>
</plist>